html
  head
    style
      include static/serv.css
    body 
      include header.pug
      h1 Gallery
      div.card1 
        img.card-img-top(src='https://img.freepik.com/free-vector/web-development-programmer-engineering-coding-website-augmented-reality-interface-screens-developer-project-engineer-programming-software-application-design-cartoon-illustration_107791-3863.jpg', alt='.',style='height: 272px;width: 99%;')
      div.card1
        img.card-img-top(src='https://miro.medium.com/max/1200/0*M4bxiCIjcTK-2Xr6.jpeg', alt='.',style='height: 272px;width: 99%;')
      div.card1 
        img.card-img-top(src='https://img.freepik.com/free-vector/hand-drawn-web-developers_23-2148819604.jpg?w=2000', alt='.',style='height: 272px;width: 99%;')
      div.card1 
        img.card-img-top(src='https://www.digitalsilk.com/wp-content/uploads/2020/06/website-development-process-1.jpg', alt='.',style='height: 272px;width: 99%;')
      div.card1 
        img.card-img-top(src='https://www.shutterstock.com/image-photo/web-development-coding-programming-internet-260nw-1141706672.jpg', alt='.',style='height: 272px;width: 99%;')
      div.card1
        img.card-img-top(src='https://www.syncfusion.com/blogs/wp-content/uploads/2020/07/Top-6-Front-End-Web-Development-Tools-to-Increase-Your-Productivity-in-2020-1.jpg', alt='.',style='height: 272px;width: 99%;')
      div.card1 
        img.card-img-top(src='https://miro.medium.com/max/1200/0*M4bxiCIjcTK-2Xr6.jpeg', alt='.',style='height: 272px;width: 99%;')
      div.card1 
        img.card-img-top(src='https://i.pinimg.com/736x/5e/0d/49/5e0d491f9f6db33bba7908c05516da2b.jpg', alt='.',style='height: 272px;width: 99%;')
      div.card1 
        img.card-img-top(src='https://www.globalmediainsight.com/asset/images/website-development.jpg', alt='.',style='height: 272px;width: 99%;')

      include footer.pug    
      