html
  head
    style
      include static/serv.css
    body 
      include header.pug
      h1 Our Services
      div.card1 
        img.card-img-top(src='https://s.tmimgcdn.com/scr/800x500/113700/digital-marketing-design-logo-template_113749-original.jpg', alt='.',style='height: 100px;width: 37%;    margin-top: 20px; margin-left: 130px;')
        .card-body
          h5.card-title Branding
        p.card-text
          Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
       
      div.card1
        img.card-img-top(src='https://www.smartdigitalwings.com/assets/img/logo-design-company-meerut-smart-digital-wings.png', alt='.',style='height: 100px;width: 37%;margin-top: 20px;margin-left: 130px;')
        .card-body
          h5.card-title Graphic Design
        p.card-text
          Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
      div.card1 
        img.card-img-top(src='https://www.nicepng.com/png/full/263-2630027_web-design-development-icon-web-development-icons-png.png', alt='.',style='height: 100px;width: 37%;margin-top: 20px;margin-left: 130px;')
        .card-body
          h5.card-title Developement
        p.card-text
          Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
      div.card1
        img.card-img-top(src='https://cdn-icons-png.flaticon.com/512/3588/3588472.png', alt='.',style='height: 100px;width: 37%;margin-top: 20px;margin-left: 130px;border-radius:50%;')
        .card-body
          h5.card-title Consultation
        p.card-text
          Some quick example text to build on the card title and make up the bulk of t
      div.card1
        img.card-img-top(src='https://cdn4.vectorstock.com/i/1000x1000/38/58/digital-marketing-e-commerce-icon-vector-13393858.jpg', alt='.',style='height: 100px;width: 37%;margin-top: 20px;margin-left: 130px;')
        .card-body
          h5.card-title E-commerce
        p.card-text
          Some quick example text to build on the card title and make up the bulk of t
      div.card1
        img.card-img-top(src='https://cdn.searchenginejournal.com/wp-content/uploads/2021/08/top-5-reasons-why-you-need-a-social-media-manager-616015983b3ba-sej.png', alt='.',style='height: 100px;width: 37%;margin-top: 20px; margin-left: 130px; border-radius:50%')
        .card-body
          h5.card-title Social Media
        p.card-text
          Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
      footer
    .row
    .col-md-6.text-md-end
    p Copyright &copy; 2022. All rights Reserved.
    .col-md-6.text-md-end
    a.text-dark(href='#')  Terms of Use
          
    
